#content {
	position: absolute;
	top: 10vh;
	width: 100vw;
  }
  
  #main-content {
	height: fit-content;
  }

#container{
	width: 90%;
	margin: 10px auto;
	height:100%;
	font-family:arial;
	color:#00b300;
	text-align: center;
	font-size:20px;
}

h1{
	width: 90%;
	margin: 10px auto;
	height:100%;
	font-family:arial;
	color:#00b300;
	text-align: center;
}

#text{
	padding: 60px;
}

#text1{
	text-align: justify;
  	text-justify: inter-word;
	padding: 40px;
	color: black;
	font-size: 18px;
}


#text2{
	text-align: left;
	padding-top: 20px;
	padding-bottom: 10px;
	padding-left: 40px;
	color: #00b300;

}

#vid1{
	float: left;
	padding: 40px;
}

#vid2{
	float: right;
	padding-top: 10px;
	padding-bottom: 40px;
	padding-left: 40px;
	padding-right: 40px;
	
}

#about_list{
	text-align: left;
	margin: auto;
	color: black;
	font-size: 18px;
	padding-left: 50px;

}

#header{
	width:90%;
	height: 100px;

}
#footer{
	width:100%;
	background-color: #00b300;
	height: 32vh;
}

#footertext{
	font-family: arial;
	background-color: #00b300;
	height: 100%;
	color: white;
}

#footer-logo{
    float: right;
    padding-right: 20px;
    height: 150px;
    width: 150px;
    z-index: 1;
}

.center {
    text-align: center;
    clear: both;
    margin: 0;
}

#t1{
	/* float:center; */
	width:20%;
	font-size:18px;
	font-family: arial;
	margin: 10px auto;
}

.td1{
	float:right;
	font-family:arial;
}

#comments{
	height: 40%;
	width: 60%;
}

.floatleft{
float: left;
width: 426px;
margin: 0 0 10px 10px;
background-color: #fff;
padding: 10px;

}
