#title{
	width: 90%;
	margin: 10px auto;
	height:100%;
	text-align:center;
	/* float:center; */
	font-family:arial;
	color:#00b300;
	font-size:38px;
}

#container{
	width: 90%;
	margin: 10px auto;
	height:100%;
	text-align:center;
	/* float:center; */
	font-family:arial;
	color:#00b300;
	font-size:20px;

}
